.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90svh;
    background: snow;
}

.cardContainer{
    display: flex;
    gap: 1.2rem;
    height: 80vh;
    width: 80vw;
    background-color: white;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 10px 10px 15px rgb(173,173,173);
}
.cardContainer_left{
    flex: 0.6;
    text-align: center;
    margin-top: 8%;
}
.cardLeftHeading{
    font-weight: bold;
    font-size: 1.7rem;
}
.inputContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 1.3rem;
    gap: 1.3rem;
    max-width: 400px;
    margin: 0 auto;

}
.inputRow{
    display: flex;
    margin-top: 20px;
    width: 100%;
    width: fit-content;
}
.inputField{
    padding-inline: 1.3rem;
    padding-block: 1rem;
    border-radius: 12px;
    outline: none;
    border: 1px solid silver;
    width: 100%;
}
.buttonWithOutline{
    display: flex;
    justify-content: center;
    margin-top: 12px;
    padding-inline: 0.2rem;
    padding-block: 1rem;
    background: rgb(244, 244, 244);
    border-radius: 12px;
    width: 100%;
    cursor: pointer;
    
}
.cardContainer_right{
    flex: 0.4;
    background: rgba(12, 94, 186, 0.515);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    flex-direction: column;
    gap: 1.2rem;
    padding-inline: 1.5rem;
}